[{:itonami.blueprint/social-impact [:local-jobs :housing-quality :worker-safety], :itonami.blueprint/domain :services/handyman, :itonami.blueprint/required-technologies [:robotics :forms :audit-ledger :bpmn], :itonami.blueprint/isco-08 "9622", :itonami.blueprint/name "Independent Handyman Practice", :itonami.blueprint/governor :handyman-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-9622", :itonami.blueprint/license "AGPL-3.0-or-later"}]